/**
 * Input UI Component
 */

input {
    display: block;
    padding: 0.375rem 0.75rem;
    width: auto;
    line-height: 1.5;
    
    font-size: var(--body-font-size);
    font-weight: 400;
    
    border: var(--border);
    border-radius: 0.375rem;
    outline: 0;
    
    color: var(--text-input-color);
    background-color: var(--text-input-bg);
    background-clip: padding-box;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus {
    border-color: var(--border-color-focus);
    box-shadow: var(--box-shadow-focus);
    z-index: 1;
}