<div id="contacts-layout" class="layout">
    
    <!-- NAV BAR -->
    <div class="navbar">
        <div class="navbar__left">
            <i class="fa fa-arrow-left fa-lg"></i>
        </div>
        <div class="navbar__center">
            <h2> Amigos </h2>
        </div>
    </div>
    
    <!-- Contacts List -->
    <ul class="list-view"></ul>
    
    
    <!-- Create Contacts Modal -->
    <div class="modal">
        <div class="modal__dialog">
            
            <div class="modal__header"> Añadir Amigo </div>
            
            <div class="modal__body align-items-start">
                 Usuario: <input name="name">
            </div>
           
            <div class="modal__footer">
                <button class="btn"> <i class="fa fa-arrow-left"></i> </button>
                <button class="btn"> <i class="fa fa-user-plus"></i> </button>
            </div>
            
        </div>
    </div>
    
    
    <!-- Add Contact -->
    <div class="fab">
        <i class="fa fa-user-plus"></i>
    </div>
    
</div>