<div id="chat-layout" class="layout">
    <div class="navbar">
        <div class="navbar__left">
            <i class="btn-back fa fa-arrow-left fa-lg"></i>
        </div>

        <div class="navbar__center d-flex flex-row justify-content-start align-items-center">
            <div class="contact-picture"></div>
            <div class="d-flex flex-column ms-2">
                <p class="contact-name"> null </p>
                <p class="contact-state"> null </p>
            </div>
        </div>

        <div class="navbar__right">
            <i class="fa fa-ellipsis-v fa-lg"></i>
        </div>
    </div>
    
    
    <!-- Chats -->
    <div id="chat-body"></div>
    
    
    <!-- Chat action bar -->
    <div class="chatbar">

        <div class="chatbar__left">
            <div class="chatbar__reply-box reply-box">
                <div class="reply-box__sender"> null </div>
                <div class="reply-box__text"> null </div>
                <div class="reply-box__cancel">
                    <i class="fa fa-close"></i>
                </div>
            </div>
            
            <div class="chatbar__input-box">
                <i class="fa fa-smile"></i>
                <div class="chatbar__input" contenteditable="true"></div>
                <i class="fa fa-paperclip"></i>
            </div>
        </div>
        <div class="chatbar__submit">
             <i class="fa fa-paper-plane"></i>
        </div>
    </div>
</div>