/*
 * Chat Layout
 */

#chat-layout {
    display: flex;
    flex-direction: column;
}

/* picture tool-bar */
#chat-layout .contact-picture {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--body-bg);
    color: var(--body-color);
    width: 3rem;
    height: 3rem;
    
    border-radius: 100px;
}

#chat-layout .contact-name {
    font-weight: bold;
    font-size: 1.1em;
}

#chat-layout .contact-state {
    font-style: italic;
    font-size: .9em;
}


/*******************\
 * Chats container *
\*******************/

#chat-body {
    flex-grow: 1;
    width: 100%;
    color: var(--primary-color);

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

