/*
 * FAB
 */
 
.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 4rem;
  height: 4rem;
  border-radius: 200px;
  color: var(--primary-color);
  
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
  
  -webkit-transition: background .4s;
  background: var(--primary-bg);
}
.fab:active {
  -webkit-transition: background .4s;
  background: var(--app-primary-lightcolor);
}