<div id="main-layout" class="layout">

    <div class="navbar">
        <div class="navbar__left">
            <i id="btn-open-drawer" class="fa fa-bars fa-lg"></i>
        </div>
        <div class="navbar__center">
            <h2> Chat </h2>
        </div>
        <div class="navbar__right">
            <i id="btn-open-main-menu" class="fa fa-ellipsis-v fa-lg"></i>
        </div>
    </div>
    
    
    
    <ul class="list-view"></ul>

    <div class="fab">
        <i class="fa fa-comment fa-lg"></i>
    </div>
</div>