.msg-view {
    width: 96%;
    height: 100%;
    padding: 0 2%;
    align-self: center;

    display: flex;
    flex-direction: column;
    flex-flow: column;
    overflow-y: auto;
}

.msg-view:empty:before {
    content: "Chat vacío";
    align-self: center;
    margin-top: 5px;
    padding: 3px 5px;

    border-radius: 30px;
    background: var(--primary-bg);
    color: var(--primary-color);
}


.msg-view .msg--user > .msg__sender {
    display: none;
}



/******************\
 * Message Bubble *
\******************/

.msg {
    background: var(--primary-bg);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    
    padding: 6px 13px;
    margin: 6px 0;
    max-width: 75%;
    min-width: 28%;
    min-height: 1.5rem;

}

.msg__sender {
    font-weight: bold;
    font-style: italic;
    font-size: .8em;
    align-self: stretch;
}
.msg__text {
    word-break: break-word;
}
.msg__status {
    align-self: flex-end;
    font-size: .7rem;
}

.msg--user {
    border-radius: 1em 0 1em 1em;
    align-self: flex-end;
}

.msg--contact {
    border-radius: 0 1em 1em 1em;
    align-self: flex-start;
}