/*
 * Chat Layout
 */


/* picture tool-bar */
#chat-layout .contact-picture {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--body-bg);
    color: var(--body-color);
    width: 40px;
    min-width: 40px;
    height: 40px;
    max-height: 40px;
    margin: 6px 12px;
    border-radius: 100px;
}

#chat-layout .contact-name {
    font-weight: bold;
    font-size: 1.1em;
}

#chat-layout .contact-state {
    font-style: italic;
    font-size: .9em;
}


/*******************\
 * Chats container *
\*******************/

#chat-body {
    flex-grow: 1;
    width: 100%;
    color: var(--primary-color);

    display: flex;
    flex-direction: column;
}


/************\
 * Chat bar *
\************/

.chatbar {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-end;
    color: var(--primary-color);

    width: 100%;
}

.chatbar__left {
    flex-grow: 1;
    border-radius: 20px;
    min-height: 30px;
    background: var(--primary-bg);

    margin: 5px;
    margin-right: .5px;
    display: flex;
    align-items: flex-end;
}
.chatbar__left > i {
    margin: 10px;
    font-size: 1.5em;
}


/* edit text */
.chatbar__input {
    flex-grow: 1;
    align-self: center;

    max-height: 5rem;
    margin: 5px 0;
    overflow: scroll;
    word-break: break-word;
    outline: none;
}
.chatbar__input:empty:before {
    content: "Escribe un mensaje...";
    color: var(--primary-color);
    opacity: .7;
}

/* send button */
.chatbar__submit {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
    margin-left: 1px;
    width: 45px;
    min-width: 45px;
    min-height: 45px;

    border-radius: 100px;
    background: var(--primary-bg);
    color: var(--primary-color);
}