<div id="auth-layout" class="layout">
    
    <!-- Login Modal -->
    <div id="login-modal" class="modal">
        <div class="modal_dialog">
            
            <div class="modal_header"> Acceder </div>
            
            <div class="modal_body align-items-start">
                <div> Usuario: <input name="user"> </div>
                <div> Contraseña: <input type="password" name="pass"> </div>
                <span class="link mt-3">¿Aún no tienes una cuenta?</span>
            </div>
           
            <div class="modal_footer">
                <button class="open-signup"> Crear Cuenta </button>
                <button class="submit-login"> Acceder </button>
            </div>
            
        </div>
    </div>
    
</div>