
#login-modal .modal__body > div,
#signup-modal .modal__body > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: .25rem;
    
    width: 100%;
}