<div id="auth-layout" class="layout">
    
    <!-- Login Modal -->
    <div id="login-modal" class="modal">
        <div class="modal__dialog">
            
            <div class="modal__header"> Acceder </div>
            
            <div class="modal__body align-items-start">
                <div> Usuario: <input name="name"> </div>
                <div> Contraseña: <input type="password" name="pass"> </div>
                <span class="link mt-3">¿Aún no tienes una cuenta?</span>
            </div>
           
            <div class="modal__footer">
                <button class="btn"> Acceder </button>
            </div>
            
        </div>
    </div>
    
    
    <!-- SignUp Modal -->
    <div id="signup-modal" class="modal">
        <div class="modal__dialog">
            
            <div class="modal__header"> Registrarse </div>
            
            <div class="modal__body align-items-start">
                <div> Usuario: <input name="name"> </div>
                <div> Email: <input name="email"> </div>
                <div> Contraseña: <input type="password" name="pass"> </div>
                <div> Repita su contraseña: <input type="password" name="rpass"> </div>
                <span class="link mt-3">Iniciar sesión</span>
            </div>
           
            <div class="modal__footer">
                <button class="btn"> Acceder </button>
            </div>
            
        </div>
    </div>
    
</div>